/*This is the CSS file for my shopping list page*/
body {
  background-color: #FCEADE;
  background-image: url("/static/Cooking-Home-Collection.jpeg");
  background-size: cover;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgba(252, 234, 222, 1);
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
}

div a {
  color: #333333;
  text-decoration: none;
  margin-right: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9);
}

table th {
  text-align: left;
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
}

table td {
  border: 1px solid #cccccc;
  padding: 10px;
}

table td a {
  color: #333333;
  text-decoration: none;
}

table td a:hover {
  text-decoration: underline;
}
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
		.delete-btn {
			background-color: #f44336;
			color: #fff;
			border: none;
			padding: 8px 16px;
			border-radius: 4px;
			cursor: pointer;
		}
		.delete-btn:hover {
			background-color: #d32f2f;
		}
